/// Global
* {
	quotes: "\00ab" "\00bb";
}

.index {
	min-height: 400px;
}

/// Mixins

@mixin widthHeightAbsolute($width, $height : $width, $min-width : $width, $max-width : $width, $min-height : $height, $max-height: $height) {
	width: #{$width};
	height: #{$height};
	min-width: #{$min-width};
	max-width: #{$max-width};
	min-height: #{$min-height};
	max-height: #{$max-height};
}

/// @extends

%flex-row {
	display: flex;
}

%flex-row-vertical-center {
	@extend %flex-row;
	align-items: center;
}

%flex-row-center-center {
	@extend %flex-row-vertical-center;
	justify-content: center;
}

%flex-colunm {
	flex-direction: column;
	@extend %flex-row;
}

%flex-column-items-center {
	@extend %flex-colunm;
	align-items: center;
}

%flex-column-center-center {
	@extend %flex-column-items-center;
	justify-content: center;
}

%mb15 {
	margin-bottom: 15px;
}

%mb25	{
	margin-bottom: 25px;
}

%box-shadow {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

%border-radius {
	border-radius: 10px;
}

/// Colors
$dark-menu: #17303e;
$green: #63d842;
$blue: #3dd1fd;
$else: #00878e;
$orange: #f1a80a;
$red: #ff6633;
$pink: #ff6195;
$purpure: #ff6ef9;
$footer: #0a202c;
$font1: #59646c;
$font2: #a4aeb6;

/// gradient
$gradient: $else, #656b94;

$crab: #ff6633, #b53910;
$fish: #f1a80b, #c06b06;
$delphine: #63d842, #3ea321;
$shark: #46c1fa, #00878e;
$whale: #ff6195, #c82d60;

/// Typography
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700&subset=cyrillic');

%sans-serif {
	font-family: 'Noto Sans', sans-serif;
}

%serif {
	font-family: 'Noto Serif', serif;
}

@each $h, $size in (h1 : 36px, h2 : 30px, h3 : 24px, h4 : 18px, h5 : 14px, h6 : 13px) {
	#{$h} {
		font-size: #{$size};
		line-height: 1.3;
		@extend %serif;
	}
}

@each $p, $font in (p : 14px, li : 14px, ul : 14px, a : 14px, span : 14px) {
	#{$p} {
		font-size: #{$font};
		line-height: 1.5;
		@extend %sans-serif;
	}
}

h3.widget-title {
	margin: 0;
	border-bottom: 1px solid #e9e9e9;
	padding: 15px;
	color: #777777;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
}

ul {
	list-style-type:none;
	margin:0;
	padding: 0;
}



/// margin, padding

%mb {
	margin-bottom: 25px;
}

/// icons

i {
	margin-right: 10px;
}