// Изменения спонсора

.claim.index {
  .subject .status {
    &::before {
      content: ' (';
    }
    &::after {
      content: ')';
    }
  }

  .time .unix-time::before {
    content: ' ';
  }
}
