/**
 * Last modified: 18.09.15 07:24:13
 * Hash: 8535080f28f4f4c86b2b2762741867421b399598
 */

// Forms
form {
  .form-group {
    input {
      min-width: 260px;
      box-shadow: none;
    }
  }
}

// Button
button, .button {
  background-color: $blue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 15px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  @extend %sans-serif;
  &:hover {
    text-decoration: none;
  }
}

/// logo
.logo {
  padding: 3px 20px;
  @extend %flex-row-center-center;
}

/// Informers
.informer {
  margin: 0 0 75px;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: 15px;
    @extend %flex-row-vertical-center;
    .icon {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      @each $icon, $iconName, $bcolor in ('blue', '/img/icon-01.png', $blue),
              ('pink', '/img/icon-02.png', $pink),
              ('green', '/img/icon-03.png', $green),
              ('purpure', '/img/icon-04.png', $purpure) {
        &.#{$icon} {
          background: #{$bcolor} url('#{$iconName}') no-repeat center / auto 35px;
        }
      }
    }
    div {
      @extend %flex-colunm;
      span {
        font-size: 20px;
        color: $font1;
        line-height: 1.5;
        &.value {
          line-height: 1;
          color: $font2;
        }
      }
    }
  }
}

/// Chart

.chart {
  min-height: 246px;
  @extend %box-shadow;
}

/// Cart Sponsor

.cart-sponsor {
  min-height: 200px;
  @extend %border-radius;
  @extend %box-shadow;
  .widget-content {
    padding: 15px;
    p.name {
      color: $else;
      margin-top: 0;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
    }
    ul {
      li {
        margin-bottom: 5px;
        color: #acacac;
        font-size: 14px;
        @extend %flex-row-vertical-center;
        i, strong {
          color: $else;
        }
        span {
        }
      }
    }
  }
}

/// Programs
.program-list .program {
  height: 200px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  @extend %border-radius;
  .image img {
    margin: 30px 0 0 -13px;
    position: absolute;
  }
  .program-inform {
    width: 178 + 20px;
    .name {
      color: #fff;
      font-weight: 700;
      font-size: 36px;
      margin: 18px 0 8px;
      &::after {
        content: "";
        position: absolute;
        right: 7px;
        top: 114px;
        border: 5px solid transparent;
        border-top: 4px solid #666666;
        border-left: 3px solid #666666;
      }
    }
    .price {
      display: block;
      width: 208px;
      margin-right: -8px;
      background-color: #f1f1f1;
      color: #111111;
      font-size: 14px;
      padding: 10px 35px;
      margin-bottom: 17px;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .control {
      a {
        width: 160px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
        height: 38px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        @extend %border-radius, %flex-row-center-center;
      }
    }
  }
}

.program-list {
  @each $program, $bgcol, $img, $color in ('crab', $crab, 'crab.jpg', $red),
          ('fish', $fish, 'fish.jpg', $orange),
          ('dolphin', $delphine, 'dolphin.jpg', $green),
          ('shark', $shark, 'shark.jpg', $blue),
          ('whale', $whale, 'whale.jpg', $pink) {
    .#{$program} {
      background: linear-gradient(45deg, #{$bgcol});
      .control {
        a {
          background-color: #{$color};
        }
      }
    }
  }
}

.matrix {
  &.crab, &.fish, &.dolphin, &.shark, &.whale {
    background-size: cover;
    background: no-repeat center;
    padding: 100px;
    h1 {
      color: #ffffff;
      font-size: 36px;
      margin-bottom: 50px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &.crab {
    background-image: url('/img/01.jpg');
  }
  &.fish {
    background-image: url('/img/02.jpg');
  }
  &.dolphin {
    background-image: url('/img/03.jpg');
  }
  &.shark {
    background-image: url('/img/04.jpg');
  }
  &.WHALE {
    background-image: url('/img/05.jpg');
  }
}

/// table

table {
  border: 1px solid $font2;
  tr th, tr td {
    border-right: 1px solid $font2;
    padding: 10px;
  }
}

tr.status.accepted {
  background-color: rgba(0, 255, 0, 0.3);
}

tr.status.rejected {
  background-color: rgba(255, 0, 0, 0.3);
}

//.node.matrix .node.qualification {
//  background-color: green;
//}
