// Финансы

.transfer.index {
  .type-payment {
    background-color: rgba(255, 0, 0, 0.3);
  }
  .type-withdraw {
    background-color: rgba(0, 255, 0, 0.3);
  }
  .type-buy {
    background-color: rgba(0, 0, 255, 0.3);
  }
  .type-bonus {
    background-color: rgba(0, 255, 255, 0.3);
  }
  .type-accrue {
    background-color: rgba(255, 255, 0, 0.3);
  }
}
