/**
 * Last modified: 18.10.07 03:40:16
 * Hash: 43e17e70d235ce482af9e6dbe6ff0650a4ada437
 */

// main Layour

.main-layout {
  min-height: 100vh;
}

/***** Start Main Left Menu *****/
.navbar {
  border-radius: 0;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: $dark-menu;
  z-index: 1;
  #menu {
    padding: 0;
    .nav {
      width: 100%;
      .user-card {
        background: linear-gradient($gradient);
        padding-top: 30px;
        padding-bottom: 30px;
        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          .avatar {
            background-image: url("/img/place.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin-right: 15px;
            border-radius: 50%;
            @include widthHeightAbsolute(65px, 65px);
          }
          .name {
            color: #fff;
            font-size: 18px;
            height: 65px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            @extend %serif;
          }
        }
        span {
          line-height: 14px;
          font-size: 13px;
          white-space: nowrap;
          color: $font2;
          q {
            color: #fff;
            font-size: 1.18vw;
            white-space: nowrap;
            margin-top: 10px;
            display: inline-block;
            text-align: center;
            width: 100%;
            @extend %serif;
            @media (max-width: 768px) {
              font-size: 8vw;
            }
          }
        }
      }
      .nav {
        li {
          &.active a {
            background-color: #0b191f;
          }
          a {
            color: #ededec;
            font-size: 13px;
            line-height: 16px;
            padding: 20px;
            text-transform: uppercase;
            &:hover {
              background-color: $else;
            }
          }
        }
      }
    }
  }
}

.menu-bg {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: $dark-menu;
  z-index: 0;
}

/***** End Menu *****

****** Start Header Menu *****/
.header-menu {
  min-height: 80px;
  background-color: $else;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  @extend %mb;
  a, span, p {
    display: inline-block;
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.balance {
  display: flex;
  align-items: center;
  i {
    color: #fff;
    font-size: 30px;
  }
  span {
    color: $blue;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
  }
}

.referral-link {
  display: inline-flex;
  width: 100%;
  border: 0;
  height: 34px;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
  align-items: center;
  padding-left: 11px;
}

.referral {
  span {
    background-color: #fff;
    padding: 5px 15px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

  }
}

.payments {
  a.button:last-child {
    background-color: $green;
  }
}

.lang {
  span {
    color: white;
    font-size: 24px;
    line-height: 30px;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
    &.active {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

/****** End Header Menu *****

******* Start Footer *****/
.footer {
  background: $footer;
  padding: 25px 15px;
  footer {
    height: 30px;
    color: #fff;
    p {
      margin: 0;
      font-size: 16px;
      line-height: 30px;
      a {
        color: #ffffff;
        font-size: inherit;
      }
    }
  }
}