/**
 * Last modified: 18.10.07 03:52:53
 * Hash: fc2a9d55512572a048ef2adc662425cc6de70cfe
 */

// Просмотр матрицы

.node.matrix {
	counter-reset: cell;
	[data-level] {
		text-align: center;
		display: flex;
		justify-content: center;
	}
	[data-level="0"] [data-number] {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 600px;
		opacity:1;
		.avatar {
			&::after {
				width: 100px;
				height: 100px;
				position: absolute;
				background-image: url("/img/win.png");
				content: '';
				background-size: contain;
				background-repeat: no-repeat;
				left: 20px;
				top: -40px;
			}
		}
	}

	[data-level="1"] > [data-number] {
		width: 50%;
		max-width: 600px;
	}

	[data-level="2"] > [data-number] {
		width: 50%;
		.avatar {
			width: 60px;
			height: 60px;
		}
	}

	[data-level="3"] > [data-number] {
		width: 50%;
		flex-direction: column;

		.left-matrix {
			margin: 0;
		}
		.avatar {
			width: 60px;
			height: 60px;
		}
		* {
			text-align: center !important;
		}
	}

	[data-level="3"] > .node > .center-matrix > .bottom-matrix > a {
		padding: 4px 6px;
		margin-left: -15px;
		letter-spacing: 0;
	}

	[data-number] {
		position: relative;
		height: auto;
		min-width: 100px;
		min-height: 100px;
		margin: 4px;
		background: #fff;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		opacity: 0.88;
		transition: all 0.2s;
		&:hover {
			opacity: 1;
			transition: all 0.4s;
		}
		&.empty {
			background-image: url('/img/empty-matrix.jpg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		.left-matrix {
			width: 100%;
			max-width: 100px;
			margin-right: 20px;
		}
		.center-matrix {
			width: 100%;
			height: 100%;
			.name {
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				border-bottom: 1px solid #e3e3e3;
				display: inline-block;
				width: 100%;
				margin-bottom: 5px;
			}
			.nick {
			}
			.skype-matrix {
			}
			* {
				text-align: left;
				font-size: 12px;
			}
			.bottom-matrix {
				& > a {
					background: #a89d89;
					padding: 5px 25px 4px;
					display: inline-block;
					text-transform: uppercase;
					color: white;
					margin-top: 5px;
					font-size: 11px;
					letter-spacing: 2px;
					text-decoration: none;
					&:hover {
						background: #63594b;
					}
				}
			}
		}
	}

	[data-number]::after {
		position: absolute;
		counter-increment: cell;
		content: counter(cell);
		top: 4px;
		right: 8px;
		color: #919191;
	}

	.avatar {
		width: 100px;
		height: 100px;
		background-image: url("/img/place.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		margin: 0 auto;
	}

	&.buy [data-level] {
		&.available [data-number].empty:hover {
			background-color: #d9d9d9;
		}
		&.unavailable > .empty {
			opacity: 0.25;
		}
	}
}
