/**
 * Last modified: 18.10.07 03:46:54
 * Hash: d9c712fefa510a96da9a7159edb1af7b50bee9e7
 */

// Main menu

.header-menu {
	.referral {
		min-width: 100%;
		border: none;
		max-width: 100%;
	}
	.payments {
		@media (max-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			a {
				width: 48%;
				text-align: center;
				margin: 5px 0 0;
				&:last-child {
					margin: 5px auto 0;
				}
			}
		}
	}
	
}

.navbar-header button {
	background-color: black;
}

#menu > .nav > ul > li > a:active,
#menu > .nav > ul > li > a:focus {
	background-color: transparent;
}

ul.nav > li {
	overflow: hidden;
	> a {
		min-width: 210px;
		[data-number] {
			display: inline-block;
			float: right;
			border-radius: 4px;
			font-weight: bold;
			border: 1px solid white;
			padding: 0 6px;
			font-size: 0.9em;
		}
		[data-number="0"] {
			display: none;
		}
	}
}
