// Регистрация, вход, восстановление пароля

.login {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.outdoor {
  .control a {
    color: white;
  }

  #main > main > :last-child {
    background-color: $else;
    padding: 30px;
    @extend %flex-column-center-center;
  }

  background: url('/img/outdoor.jpg') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
  .header-form {
    background-color: $dark-menu;
    h1 {
      color: white;
      text-align: center;
      margin: 0;
      padding: 10px;
      background-color: $else;
      border-bottom: 1px solid $dark-menu;
    }
  }

  .agreement {
    [type="checkbox"] {
      min-width: 10px;
    }
    .form-group {
      display: inline-block;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
