.structure.index {
  .has-children {
    cursor: pointer;
  }

  tr.children > td {
    padding: 0;
    table {
      border-top: none;
      border-left: none;
      border-bottom: none;
    }
  }

  td.level {
    width: 80px;

    > span {
      display: inline-block;
    }
  }

  [data-level="2"] > table > tbody > tr > td.level > span {
    margin-left: 8px;
  }

  [data-level="3"] > table > tbody > tr > td.level > span {
    margin-left: 16px;
  }

  [data-level="4"] > table > tbody > tr > td.level > span {
    margin-left: 24px;
  }

  [data-level="5"] > table > tbody > tr > td.level > span {
    margin-left: 32px;
  }

  td.name {
    width: 180px;
    overflow-x: hidden;
  }

  td.nick {
    width: 160px;
    overflow-x: hidden;
  }

  td.skype {
    width: 120px;
  }

  td.telegram {
    width: 120px;
  }

  td.program,
  td.children {
    width: 60px;
  }

  //td.telegram {
  //  width: 120px;
  //}
}


