@charset "UTF-8";
@import 'base';
@import 'reset';
@import 'components';
@import 'table';
@import 'mainLayour';
@import 'menu';
@import 'history';
@import 'invoice';
@import 'matrices';
@import 'claims';
@import 'offers';
@import 'outdoor';
@import 'profile';
@import 'settings';
@import 'structure';
@import 'swap';

//urls
$avatar_default: url("/img/avatar.png");

.hidden {
  display: none;
}

.eth:after, [data-currency="ETH"] {
  content: " ETH";
  position: absolute;
  margin-left: 5px;
}

.usd:after, [data-currency="USD"] {
  content: " USD";
  position: absolute;
  margin-left: 5px;
}

.not-set {
  opacity: 0.05;
}

.lang span {
  display: inline-block;
  margin-right: 8px;
}

[v-cloak] {
  display: none;
}

.user.profile > .row > ul.informer > li {
  align-items: start;
}

.course.item {
  display: flex;
}

.course.item > .image > img {
  max-width: 320px;
}
